<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-xom store - Empowering Women Through Handicrafts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    {% include 'core/navbar.html' %}
    <div class="container">
        <h1>Empowering Communities, Centering Women</h1>
        <p>Welcome to <b>Kaushalya Bazaar</b> – a vibrant platform where skills meet opportunity. While we proudly highlight and support women creators, our marketplace is open to all individuals showcasing their talents. From handcrafted goods to diverse skill-based products and services, explore authentic creations, support local talent, and be part of a movement that celebrates empowerment through entrepreneurship.
        </p>
        <a href="{% url 'login' %}" class="cta-btn">Shop Now</a>
        <a href="{% url 'register_seller' %}" class="cta-btn">Become a Seller</a>
    </div>
</body>
</html> 